<%- include('parts/html-head') %>  <!-- 以這支home.ejs為相對位置 -->
<%- include('parts/navbar') %>  

<div class="container">
    <!-- ejs檔案原則就是寫html -->
    <h2>Hi, <%= name %></h2>
</div>

<%- include('parts/scripts') %>  
<%- include('parts/html-foot') %> 